
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{
    font-family: sans-serif;
    font-size: 40px;
    color: #faa804fd;
}
p{
    font-size: 20px;
    font-family: sans-serif;
}
.logos {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.logo-2{
    width: 150px;
}

body {
     background-color: black;
     font-family: italic;
}

.socials{
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #f77f00; 
    border-radius: 50%;
}

.social:hover {
    background-color: #f77f00; 
}


.social img{
    margin: 8px 0 0 10px;
}



.seccion-fondo {
    background-image: url('https://files.oaiusercontent.com/file-PU2U2XVCjhqaLMEjrVDyw7jY?se=2024-11-12T18%3A55%3A44Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D16424350-caa2-4f1b-a976-a04e42ee9595.webp&sig=fVW/xj8996xz67l0pnePmwjp%2BKr4SVM%2BNbTo9ZXCtiA%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 42vh 5%;
    color: #fdfafaeb;
    border-radius: 10px;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 15px auto;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    .seccion-fondo {
        padding: 20vh 5%;
    }
}


header {
    background: #ff6600;
    color: #fff;
    padding: 1rem 0;
    height: 100px;
    
}

.flex {
    display: flex;
    
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.space-x-4>*+* {
    margin-left: 1rem;
}

.btn {
    background: #e65c00;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: black;
}

#Inicio img {
    width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.producto {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(135deg, #f4a261, #e76f51); 
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease;
    color: #1a1a1a; 
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4); 
    background: linear-gradient(135deg, #e76f51, #000000);
    color: #ffffff; 
}

.price {
    color: #1a1a1a;
    font-weight: bold;
}

.price:hover {
    color: #ffae42; 
}




#Contacto form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 4000px;
    margin: auto;
    padding: 1rem;
    background: #f4f4f4;
    border-radius: 5px;
}

#Contacto input,
#Contacto textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-submit {
    background: #0070b8;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-submit:hover {
    background: #005499;
}




@media (max-width: 768px) {
    header .space-x-4 {
        flex-direction: column;
        align-items: center;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    
}



#quienes-somos {
    background-color: #312f2f; 
    color: #333; 
    padding: 60px 20px; 
    text-align: center; 
}

.contenido {
    max-width: 1200px;
    margin: 0 auto; 
}

#quienes-somos-titulo {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #e05b08; 
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.contenido-texto-imagen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    gap: 30px;
}

.contenido-texto {
    flex: 1;
    max-width: 600px; 
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #0a0a0a; 
    margin-bottom: 30px;
    font-weight: bold; 
    text-align: left;
}


.contenido-imagen {
    flex: 1;
    max-width: 500px; 
    display: flex;
    justify-content: center; 
}

.contenido-imagen img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.contenido-imagen img:hover {
    transform: scale(1.05); 
}

.horario {
    padding: 100px 20px;
    background-color: #0d0d0d; 
}


.horario-info h2 {
    font-size: 70px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 3px solid #444; 
    display: inline-block;
    padding-bottom: 10px;
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}


.horario-txt {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    flex-wrap: wrap; 
    margin-bottom: 30px; 
}


.txt {
    color: white;
    width: 30%; 
    padding: 25px;
    background: linear-gradient(145deg, #1a1a1a, #333333); 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.txt:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
}


.txt h4 {
    font-size: 20px;
    color: #cccccc;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #555;
    display: inline-block;
    padding-bottom: 5px;
    letter-spacing: 1.5px; 
}


.txt p {
    font-size: 16px;
    color: #dddddd;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.5; 
}


.map{
    filter: grayscale(100%) invert(92%) contrast(93%)
}




@media (max-width: 991px) {

    .logo-2 {
        display: none;
    }


    .socials {
        justify-content: center;
        
    }

    .social img {
        margin: 8px 0 0 0;
       
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
        
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
        
    }

    .horario {
        text-align: center;
        margin-top: 20px;
        
    }

    .horario-info h2 {
        font-size: 40px;
        margin-bottom: 20px;
       
    }

    .horario-txt {
        display: flex;
        flex-direction: column; 
        padding: 30px;
        justify-content: center; 

    .txt {
        width: 100%; 
        margin-bottom: 20px; 
    }
}


:root {
   
    --color_primario_suave: rgb(0, 0, 0);
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
ol,ul{
    list-style: none;
}
.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
    
}
.navbar {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem var(--padding_left_right); 
    background-color: #000000; 
    margin: 0 0 1rem 0; 
    width: 100%; 
}

nav {
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 1000; 
}





.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.links h4{
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}



.logo-2{
    width: 150px;
}




.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}
.logo {
    width: 50px;
    height: 50px
}


.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}
  .ul_links{
      display: flex;
      position: static;
      width: auto;
      height: auto;
      flex-direction: row;
      gap: 2rem;
  }

  .link{
      font-size: 1.2rem;
      transition: all .3s;
      padding: .2rem .7rem;
  }

  .labe_hamburguesa {
      display: none;
      transition: all .3s;
  }

  .menu_hamburguesa{
      display: none;
  }


  @media (width <= 768px){
      .menu_hamburguesa{
          display: none;
      }

      .labe_hamburguesa {
          display: block;
          transition: all .3s;
      }

      .ul_links {
          width: 100%;
          background-color: var(--color_primario_suave);
          position: absolute;
          top: var(--altura_header);
          left: 0;
          height: 0;
          overflow: hidden;
          
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 3rem;
          transition: all .3s;
      }

      .link {
          font-size: 2em;
          color: var(--color_blanco);
          font-weight: bold;
      }
      .link:hover{
          background-color: #5f1192;
          
      }

  }






  button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: black;
    color: white;
    transition: 0.4s;
}

button:hover{
    background: orange;
    transform: scale(1.1);
}

.mapa{
    filter: grayscale(20%);
}

.etimap{
    color: white;
}
.Horarios{
    color:white;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Colombian_Arepas_with_cheese_.jpg/220px-Colombian_Arepas_with_cheese_.jpg);
}
#Contacto {
    padding: 2rem;
    background: #000000; 
}

#Contacto h2 {
    color: #f4a261; 
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.contact-form {
    max-width: 700px; 
    margin: 0 auto;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: #ffffff; 
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.form-group input,
.form-group textarea {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(244, 162, 97, 0.9);
    color: #000000;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5); 
    width: 100%; 
}

textarea {
    resize: none; 
    height: 200px; 
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #333333; 
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    background: rgba(244, 114, 51, 0.9); 
    color: #ffffff; 
}

.btn-submit {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #e76f51; 
    color: #ffffff; 
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%; 
}

.btn-submit:hover {
    background: #f4a261; 
}
}
